html {
  font-family: 'Orbitron', sans-serif !important;
}

body {
  background-color: grey !important;
  color: orangered;
}

.button {
  font-family: 'Orbitron', sans-serif !important;
}

.input {
  font-family: 'Orbitron', sans-serif !important;
}
